/* Style sheet created by: Paul Yun, 3/14/2016 */

/* Style sheet for mobile starts here */

/* Style for body specifies a background color */

body {
    background-color: #1D1D1C;
    text-align: center;
}

/* Style for container centers the page and sets the element width */
#container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/* Style for header specifies top and bottom marins, background color, rounded border, shadow, and alignment */
header {
    text-align: center;
}

/* Style for nav specifies text properties, padding, margins, and borders */
nav {
    font-family: Century Gothic, sans-serif;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    margin-top: 3em;
}

/* Style specifies padding and margin for unordered list */

nav ul {
    padding: 0;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

nav li {
    background-color: #373734;
    border-radius: 2em;
    list-style-type: none;
    margin: 0.3em;
    padding: 0.4em;
}

nav li a {
    color: #FFFFFF;
    text-decoration: none;
}

.mobile {
    display:inline;
}

.desktop {
    display: none;
}

.tablet {
    display: none;
}

.equip {
    display: none;
}

/* Style for main specifies a block display, text properties, margins, padding, rounded border, and shadow */
main {
    display: block;
    font-family:Verdana, Arial, sans-serif;
    font-size: 1em;
    margin-top: 0.5em;
    padding: 1em;
    border-radius: 2em 0 2em 0;
    background-color: #1D1D1C;
    opacity: 0.85;
}

/* Style for anchor elements within the main element*/
main a {
    background-color: #9D9D93;
    border-radius: 3em;
    color: #FFFFFF;
    font-weight: bold;
    padding: 0.5em;
    text-decoration: none;
}

/* Style for footer specifies font size, text alignment, and top margin */
footer {
    font-size: .70em;
    text-align: center;
    margin-top: 2em;
    color: #FFFFFF;
}

footerc {
    font-size: .80em;
    text-align: center;
    margin-top: 2em;
    color: #FFFFFF;
}

footerb {
    font-size: 1em;
    margin-top: 2em;
    color: #FFFFFF;
}

/* Style for anchor elements within the footer element*/
footer a {
    color: #FFFFFF;
    text-decoration: none;
}

.equip {
    float: middle;
    padding-right: 20px;
}

ul {
    margin-bottom: 50px;
    list-style-position: inside;
}

dd {
    padding-bottom: 20px;
}

/*style to create a fluid image*/
img {
    max-width: 100%;
}

/*style for mobile layout*/

/*style for the container centers the page and specifies the width*/

#container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* Style rule for input, select, and textarea form elements */
input, select, textarea {
    display: block;
    margin-bottom: 1em;
}

/* Style rule for label element */
label {
    display: block;
}

/* Style rule for unordered list without a form */
form ul {
    list-style-type: none;
}

/* Media query for tablet viewports targets screen size with a minimum width of 481px. */
@media only screen and (min-width: 660px) {
/* Style specifies a horizontal display for navigation links */
nav li {
    float: left;
    margin-left: 1%;
    margin-right: 1%;
    padding-left: 0;
    padding-right: 0;
    width: 17%;
    white-space: nowrap;
    border-radius: 0;
    background-color: transparent;
}

/* Style specifies clear and top margin properties for the main element */
main {
    clear: left;
    margin-top: -0.3em;
    border-radius: 0;
    overflow: auto;
}

/*Style specifies to hide the mobile class */
.mobile {
    display: none;
}

/*Style specifies to display the desktop class*/
.desktop {
    display: inline;
}

/*Style specifies a display, float, and padding for the equip class*/
.equip {
    display: inline;
    float: left;
    margin-right: 1.5em;
}

/*Style specifies a display, list-style-position, and bottom margin for the items class*/
.items {
    display: block;
    list-style-position: inside;
}

/*Style specifies to display the tablet class*/
.tablet {
    display: block;
    margin-top: -3em;
    margin-bottom: -1em;
}

/*Style for images within the figure element*/
figure img {
    background-color: #1D1D1C;
    display: inline;
    height: 8em;
    width: 28%;
    margin: 1%;
    padding: 1%;
}

/*style specifies bottom padding for the section element */
section {
    padding-bottom: 3em;
}

/*style for another anchor element within the section element */
section a {
    background-color: transparent;
    color: #1D1D1C;
    font-weight: normal;
    padding: 0;
    text-decoration: underline;
}

/*style for table element*/
table {
    border: 0.1em solid #000000;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

/*style for caption elements*/
caption {
    font-size: 1.5em;
    font-weight: bold;
    padding-bottom: 0.5em;
}

/*style rule for label elements*/
label {
    float: left;
    padding-right: 0.5em;
    text-align: right;
    width:10em;
}

/*style rule for btn class*/
.btn {
    margin-left: 12em;
}

img {
    transition: -webkit-transform 0.25s ease;
}

img:active {
    -webkit-transform: scale(1.5);
}


}

/* Style code for desktops */
@media only screen and (min-width: 830px) {
    
.containerb{
	margin: 0 auto;
	width: 50em;
}

/*Style specifies width of a container*/
#container {
    background-color: #1D1D1C;
}

/*Style specifies margin and padding for the unordered list within the nav*/
nav ul {
    margin: 0;
    padding-left: 0.50%;
    padding-right: 0.50%;
}

/*Style for navigation list items specifies a border radius, border, margin, width, and padding*/
nav li{
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    width: 20%;
}

/*Style for navigation links specifies display and padding*/
nav li a:link {
    display: inline-block;
    padding: 0.7em;
    text-shadow: 0.2em 0.1em #3D3D35;
}

/*Style rules for peudo-classes*/

nav li a:hover {
    color: #9D9D93;
}

nav li a:active {
    color: #00004c;
}

/*Style specifies border, box shadow, margins, and padding for main element*/
main {
    background-color: #1D1D1C;
}

/*Style specifies left and right padding for paragraph elements within the main element*/
main p {
    color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

/*style applies height and opacity to images within figure element*/
figure img {
    height:15em;
    opacity: 0.7;
}

/*style removes transparancy on hover*/
figure img:hover {
    opacity: 1;
}

/*Style specifies a gradient for the body element*/
body {
    text-align: center;
}

/*Style specifies color and left margin for the section element*/
section {
    color: #FFFFFF;
    margin-left: 1em;
    padding-bottom: 5em;
}

/*style specifies a background color, margin, and padding for footer elements*/
footer {
    background-color: #1D1D1C;
    margin-top: -0.2em;
    padding: 2em;
}

/*style for contact class*/
.contact {
    color: #FFFFFF;
}

/*style fortable element*/
table {
    background-color: #373734;
    width: 85%;
}

/*style for caption element*/
caption {
    color: #FFFFFF;
}

/*style for form element*/
form {
    background-color: #1D1D1C;
    padding: 1em;
    color: #FFFFFF;
}

/*style rule for paragraph with for element*/
form p {
    color: #000000;
}

#page-wrap {
  text-align: left;
  width: 800px;
  margin: 0 auto;
}

img {
    transition: -webkit-transform 0.25s ease;
}

img:active {
    -webkit-transform: scale(1.5);
}

}