.floatleft {
    float: left;
    margin-right:0 2% 2% 0;
}

.floatright {
        float:right;
        margin-left: 0 0 2% 2%;
}

.clear-float {
        clear: both;
}
    
#page-wrapper {
        width: 70%;
        margin: 0 auto; /* 0 top and bottom, auto left and right */
}


    
img {
	max-width: 100%;
}

/* Style for nav specifies text properties */
nav {
	font-family: Georgia, "Times New Roman", serif;
	font-size: 1em;
	font-weight: bold;
	text-align: center;
}

/* Style for nav specifies padding and margins for unordered list */
nav ul {
	padding: 0;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

/* Style for nav li specifies the background color, rounded corners, removes bullet style, and applies margins and padding for list items within the navigation. */
nav li {
	background-color: #FF6600;
	border-radius: 1em;
	list-style-type: none;
	margin: 0.3em;
	padding: 0.4em;
}

/* Style changes navigation link text color to white and removes the underline */
nav li a {
	color: #FFFFFF;
	text-decoration: none;
}

/* Media query for tablet viewports targets screen size with a minimum width of 481px. */
@media only screen and (min-width: 481px) {
img {
	width: 80%;
}

nav li {
	display: inline;
	float: left;
	margin-left: 1%;
	margin-right: 1%;
	padding-left: 0;
	padding-right: 0;
	width: 18%;
}

main {
	clear: left;
}

.mobile {
	display: none;
}

.desktop {
	display: inline;
}
}

/* Media query for tablet viewports targets screen size with a minimum width of 481px. */
@media only screen and (min-width: 769px) {
#container {
	width: 80%;
}

img {
	width: 60%;
}

nav ul {
	margin: 0%;
	padding-left: 0.50%;
	padding-right: 0.50%;
}

nav li {
	border-radius: 0;
	margin-left: 0;
	margin-right: 0;
	padding: 0;
	width: 20%;
	white-space: nowrap;
}

nav liv a {
	display: inline-block;
	padding: 0.7em;
	font-size: 1.25em;
}

main {
	border: none;
	border-radius: 1em;
	box-shadow: 1em 1em 1em #331400;
	margin-top: 1em;
}

nav li a:link {
	color: #FFFFFF;
}

nav li a:hover {
	color: #CCFFCC;
	font-size: 1.5em;
}

body {
	background: linear-gradient(#FFFFFF, #FF6600);
}

.mobile {
	display: none;
}

.desktop {
	display: inline;
}
}