.floatleft {
    float: left;
    margin-right:0 2% 2% 0;
}

.floatright {
        float:right;
        margin-left: 0 0 2% 2%;
}

.clear-float {
        clear: both;
}
    
#page-wrapper {
        width: 70%;
        margin: 0 auto; /* 0 top and bottom, auto left and right */
}


    
img {
	max-width: 100%;
}

/* Style for nav specifies text properties */
nav {
	font-family: Georgia, "Times New Roman", serif;
	font-size: 1em;
	font-weight: bold;
	text-align: center;
}

/* Style for nav specifies padding and margins for unordered list */
nav ul {
	padding: 0;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

/* Style for nav li specifies the background color, rounded corners, removes bullet style, and applies margins and padding for list items within the navigation. */
nav li {
	background-color: #FF6600;
	border-radius: 1em;
	list-style-type: none;
	margin: 0.3em;
	padding: 0.4em;
}

/* Style changes navigation link text color to white and removes the underline */
nav li a {
	color: #FFFFFF;
	text-decoration: none;
}